body {
  font-family: sans-serif;
  color: #212121;
  padding: 10px 32px;
  max-width: 960px;
  margin: auto;
}

#login {
  text-align: center;
}

#username{
  height: 30px;
  width: 300px;
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 24px;
}

#enterSurvey {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

#questionForm input {
  margin: 10px 0 20px 0;
}

#questionForm label{
  margin-left: 10px;
}

.submitBtn {
  display: block;
  margin: auto;
  width: 100px;
  padding: 20px;
}
